
/* colors */
/* 
.text-primary-green{
    color: #9FCC47;
} */
/* font families */

/* .font-open-sans{
    font-family: 'Open Sans', sans-serif !important;
} */

/* font weights */

/* .font-regular{
    font-weight: 400;
}

.font-semi-bold{
    font-weight: 500;
}

.font-bold{
    font-weight: bold;
} */

/* font sizes */

/* .font-32{
    font-size: 32px;
}

.font-20{
    font-size: 20px;
}

.font-18 {
    font-size: 18px;
}

.font-16{
    font-size:16px;
}

.font-14{
    font-size: 0.875rem;
} */

/* colors */

/* .button-bg-primary-green{
    background-color: #9FCC47;
}

.button-bg-primary-black{
    background-color: #424448;
}

.button-bg-primary-gray{
    background-color: #A4A3A3;
}

.primary-green{
    color: #9FCC47;
}

.primary-black{
    color: #424448;
}

.primary-gray{
    color: #A4A3A3;
}

.color-white{
    color: #fff;
}

.color-primary-gray{ 
    color:#666762;
} */

/* hover colors */
/* .sign-in-hover:hover{
    color: #8eb83b;
}

.button-bg-primary-green:hover{
    color:#fff;
}

.button-bg-primary-black:hover{
    color:#fff;
}

.primary-gray:Hover{
    color: #A4A3A3;
} */

/* paddings */
/* .padding-y-15{
    padding: 15px;
} */

/* .nav-item .nav-link{
    transition: 
} */

/* .nav-item .nav-link:hover img{
    filter: invert(85%) sepia(76%) saturate(382%) hue-rotate(34deg) brightness(95%) contrast(77%);
} */

/* .nav-item .nav-link:hover{ */
    /* filter: invert(85%) sepia(76%) saturate(382%) hue-rotate(34deg) brightness(95%) contrast(77%); */
    /* border-right: 4px solid red;
} */

/* .nav-item .nav-link:hover span{
    color: #9FCC47;
} */

/* .nav-item.active{
    border-right:5px solid red;
} */

/* .nav-item-padding{
    padding:1rem !important;
    padding-left:15px !important;
} */




/* Googlefont Poppins CDN Link */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
.wrapper{
  overflow-x: hidden;
}
.sidebar{
    width: 17.2rem;
    height: 100%;
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0px;
    background: #424448;
    z-index: 11;
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
    transition: all .2s ease-out;
}

.wrapper.toggled .sidebar,.sidebar.active{
  width: 90px;
}
.sidebar.active .logo-details img,
.wrapper.toggled .sidebar .logo-details img{
  scale: 0;
}
.wrapper.toggled .sidebar .nav-links li a .links_name{
  display: none;
}
.sidebar .logo-details{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .logo-details img{
  min-width: 60px;
  scale: 1;
  width: 180px;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
.sidebar .nav-links{
  margin-top: 10px;
}

.sidebar .nav-links li{
  position: relative;
  list-style: none;
  height: 50px;
}

.sidebar .nav-links li a{
  height: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  border-right: 5px solid transparent;
}

.sidebar.active .nav-links li a span{
    scale: 0;
}

.sidebar .nav-links li a span{
    scale: 1;
}





/* .sidebar .nav-links li a.active{
  background: #081D45;
} */


.sidebar .nav-links li a img{
    padding-left: 1rem;
    padding-right:1rem;
}

.sidebar .nav-links li.active a img {
  filter: invert(85%) sepia(76%) saturate(382%) hue-rotate(34deg) brightness(95%) contrast(77%);
}

.sidebar .nav-links li a:hover img{
  /* min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff; */
  filter: invert(85%) sepia(76%) saturate(382%) hue-rotate(34deg) brightness(95%) contrast(77%);

}
.sidebar .nav-links li a .links_name{
  color: #fff;;
  font-size: 0.875rem;
  font-weight: 600;
  white-space: nowrap;
  text-transform: capitalize;
}
.sidebar .nav-links li a .menu-icons svg{
  max-width: 1.5rem;
  margin-right: 1rem;  
}
.sidebar .nav-links li a .menu-icons svg path{
  fill: #FFF;
}
.sidebar .nav-links .log_out{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.sidebar .nav-links li a:hover,
.sidebar .nav-links li.active > a{
  /* background: #081D45; */
  color: #A8CB5C;
  border-right: 5px solid #A8CB5C;
}
.sidebar .nav-links li a:hover .links_name,
.sidebar .nav-links li.active a span{
  color: #A8CB5C;
}
.sidebar .nav-links li a:hover .menu-icons svg path,
.sidebar .nav-links li.active a .menu-icons svg path{
  fill: #A8CB5C;
}

.home-section{
  position: relative;
  background: #FFF;
  min-height: 100vh;
  width: calc(100% - 275px);
  left: 17.2rem;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section,
.wrapper.toggled .home-section{
  width: calc(100% - 90px);
  left: 5.7rem;
}
.home-section nav{
  display: flex;
  justify-content: space-between;
  height: 4.4rem;
  background: #fff;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  left: 0px;
  z-index: 100;
  padding: 0 1.25rem;
  border-bottom:1px solid #424448;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav{
  left: 0px;
  width: 100%
}
.home-section nav .sidebar-button{
  display: flex;
  align-items: center;
  /* font-size: 24px; */
  /* font-weight: 500; */
  min-width: 150px;
  justify-content: space-between;
  gap: 40px;
}
/* nav .sidebar-button i{
  font-size: 35px;
  margin-right: 10px;
  width: 100%;
} */

.home-section nav .sidebar-button .search-box{
  /* position: relative; */
  /* height: 50px; */
  /* max-width: 550px; */
  width: 100%;
  /* margin: 0 20px; */
  /* margin: 0 0 0 75px; */
}
nav .sidebar-button .search-box input{
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}
nav .sidebar-button .search-box img{
  /* position: absolute; */
  /* height: 22px; */
  /* width: 40px; */
  /* background: #2697FF; */
  /* left: 5px; */
  /* top: 50%; */
  /* transform: translateY(-50%); */
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}

nav .notification_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 475px;
}

nav .notification_section .notification_icons {
    display: flex;
}

nav .notification_section .notification_icons img{
    padding: 0 15px;
}

nav .notification_section .notification_icons .notification_count_section:first-child img{
    padding: 0 15px 0 0;
}

nav .notification_section .notification_icons .notification_count_section{
    position: relative;
    height: 100%;
    width: 100%;    
    padding: 0 1rem;
}

.notification_count_section .notification_icon{
    position: relative;
}

.notification_count_section .notification_count{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    height: 15px;
    width: 15px;
    background-color: #EA0000;
    color: #FFFFFF;
    font-size: 9px;
    font-weight: 500;
    text-align: center;
    border-radius: 10px;
    top: -6px;
    right: 8px;
    scale:0;
    box-shadow: 0 6px 8px rgba(0,0,0,0.15), 0 0 0 2px #fff
}

.notification_count_section.active .notification_count{
    scale:1;
}

.home-section nav .notification_section .profile-details{
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border-radius: 6px;
  height: 50px;
  width: auto;
  margin-right: 76px;
}
nav .profile-details img{
  border-radius: 6px;
  object-fit: cover;
}

nav .profile-details .profile_position{
  font-size: 0.75rem;
  font-weight: 400;
  color:#B2B2B2;
  margin: 0 0.652rem;
  white-space: nowrap;
  text-transform: uppercase;
}

nav .profile-details .profile_name{
  font-size: 0.875rem;
  font-weight: 400;
  color: #707070;
  margin: 0 0.652rem;
  white-space: nowrap;
}


nav .profile-details i{
  font-size: 1.5rem;
  color: #333;
}
.home-section .home-content{
  position: relative;
  padding-top: 5rem;
}

.home-content .page_title{
    padding: 0 2.5rem;
    font-weight: 700;
    font-size: 1.5rem;
    color: #424448;
}

.home-content .overview-boxes{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  padding: 0 0 0 2.5rem ;
  margin-bottom: 1.5rem;
}

.overview-boxes .widget_container_cards{
    max-width: 1582px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.overview-boxes .box{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* width: calc(100% / 4 - 15px); */
  background: #fff;
  /* padding: 15px 14px; */
  margin-top: 1.5rem;
  border-radius: 0.75rem;
  border: 1px solid #D0D0D0;
  /* box-shadow: 0 5px 10px rgba(0,0,0,0.1); */
}

.overview-boxes .box .box-icon .icon-wrapper{
  width: 4.5rem;
  height:4.5rem;
  border:1px solid #9FCC47;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5rem;
}

.rounder-border{
  border-radius: 50%;  
}
.overview-boxes .box .box-icon.small-icon{
  width: 2.5rem;
  height: 2.5rem;
  border:1px solid #9FCC47;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  overflow:hidden;
}
.overview-boxes .box .box-icon img{
  max-width: 75%;
}
.overview-boxes .box .box-icon .icon-wrapper img{
    max-height: 100%;
}

.box .box-details .name{
    font-weight: 500;
    font-size: 1rem;
    color: #FFF;
    text-transform: capitalize;
    padding-bottom: 0.75rem;
    opacity: 0.70;
}

.box .box-details .date{
    font-weight: 700;
    font-size:1.5rem;
    color: #FFF;
    /* padding-bottom: 14px; */
    padding-bottom: 0.625rem;
}
.box .box-details .button{
    width: auto;
    height: 1.625rem;
    background-color: #AFCA6B;
    color: #ffffff;
    text-align: center;
    border-radius: 6px;
    display: flex;
    align-items: center;    
    font-size: 0.725rem;
    justify-content: center;
    text-transform: capitalize;
    padding: 0px 1rem;
}

.overview-boxes .box-topic{
  font-size: 20px;
  font-weight: 500;
}
.home-content .box .number{
  display: inline-block;
  font-size: 35px;
  margin-top: -6px;
  font-weight: 500;
}
.home-content .box .indicator{
  display: flex;
  align-items: center;
}
.home-content .box .indicator i{
  height: 20px;
  width: 20px;
  background: #8FDACB;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  margin-right: 5px;
}
.box .indicator i.down{
  background: #e87d88;
}
.home-content .box .indicator .text{
  font-size: 12px;
}
.home-content .box .cart{
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}
.home-content .box .cart.two{
   color: #2BD47D;
   background: #C0F2D8;
 }
.home-content .box .cart.three{
   color: #ffc233;
   background: #ffe8b3;
 }
.home-content .box .cart.four{
   color: #e05260;
   background: #f7d4d7;
 }
.home-content .total-order{
  font-size: 20px;
  font-weight: 500;
}
.home-content .sales-boxes{
  display: flex;
  justify-content: space-between;
  /* padding: 0 20px; */
}

/* left box */
.home-content .sales-boxes .recent-sales{
  width: 65%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.home-content .sales-boxes .sales-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sales-boxes .box .title{
  font-size: 24px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}
.sales-boxes .sales-details li.topic{
  font-size: 20px;
  font-weight: 500;
}
.sales-boxes .sales-details li{
  list-style: none;
  margin: 8px 0;
}
.sales-boxes .sales-details li a{
  font-size: 18px;
  color: #333;
  font-size: 400;
  text-decoration: none;
}
.sales-boxes .box .button{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.sales-boxes .box .button a{
  color: #fff;
  background: #0A2558;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.sales-boxes .box .button a:hover{
  background:  #0d3073;
}

/* Right box */
.home-content .sales-boxes .top-sales{
  width: 35%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px 0 0;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.sales-boxes .top-sales li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.sales-boxes .top-sales li a img{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 10px;
  background: #333;
}
.sales-boxes .top-sales li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sales-boxes .top-sales li .product,
.price{
  font-size: 17px;
  font-weight: 400;
  color: #333;
}

/* footer */

.footer{
    position:fixed;   
    font-size: 0.75rem;
    font-weight: 400;
    color: #424448;
    text-transform: capitalize;
    width: 100%;
    text-align: right;
    padding-bottom: 0.75rem;
    bottom:0px;
    right: 1rem;
    background: #FFF;
}
/* Responsive Media Query */
.title-4{
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: bold;
}
.title-5{
  font-size: 1rem;
  line-height: 2rem;
  font-weight: bold;
}
.title-4 span{
  color: #9FCC47;
}

.btn.btn-medium{
    min-height: 2.5rem;
    font-size: 0.765rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    border-radius: 1.725rem;
    border:1px solid #9FCC47;
    color: #FFF;
}

.mr-2{
  margin-right: 1.25rem;
}
.font-12{
  font-size: 0.75rem !important;
}
.btn.btn-rounded{
   border-radius: 1.25rem;
}
.table-responsive{
  font-size: 0.75rem;
}
.item-number,.btn-small{
  padding:2px 10px !important;
}

.form-control{
  height: 2.5rem;
  font-size: 0.75rem;
  font-weight: 600;
}
.min-height{
  min-height: 60vh;
}
.overview-boxes  .card.box{
  background: #424448;
  border-radius: 0.625rem;
}
.overview-boxes .h1, 
.overview-boxes .h2,
.overview-boxes .h3,
.overview-boxes .h4,
.overview-boxes .h5, 
.overview-boxes .h6,
.overview-boxes h1,
.overview-boxes h2,
.overview-boxes h3,
.overview-boxes h4,
.overview-boxes h5,
.overview-boxes h6{
   color: #FFF; 
}
.overview-boxes .btn-primary{
  color: #424448;
  font-weight: bold;
  font-size: 0.75rem;
  padding: 0.5rem 1rem;
}

.overview-boxes .dashboard-button{
  height: 1.56rem;
  min-width: 10.43rem ;
}

.overview-boxes .card-item-header{
  font-weight: 600;
  font-size: 0.75rem;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  /* min-width: 6rem; */
  padding: 0;
  padding-left: 1.06rem;
}
.overview-boxes .card-item-body{
  font-weight: 400;
  font-size: 0.75rem;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  /* min-width: 6rem; */
  padding: 0;
  padding-left: 0.75rem;
}

.overview-boxes .table{
  color: #FFF;
  font-size: 0.75rem;
}
.overview-boxes .table thead{ 
   background: #7B7C7F;
}
.overview-boxes .table th{
    padding: 0.75rem;
}
.overview-boxes label{
  color: #FFF;
}

.height_144{
  height: 144px;
}

.overview-boxes .form-control:autofil,
.overview-boxes .form-control:-webkit-autofill{
  height:2.3rem;
	background: #7B7C7F;
	border:1px solid transparent;
  border-radius:0.25rem;
  font-size:0.75rem;	
  color:#FFFFFF;
}

.overview-boxes .form-select:autofil,
.overview-boxes .form-select:-webkit-autofill{
  height:2.3rem;
	background: #7B7C7F;
	border:1px solid transparent;
  border-radius:0.25rem;
  font-size:0.75rem;	
  color:#FFFFFF;
}


.overview-boxes .form-control{
  height:2.3rem;
	background: #7B7C7F;
	border:1px solid transparent;
    border-radius:0.25rem;
	font-size:0.75rem;
    color:#FFFFFF;	
}

.overview-boxes .form-select{
  height:2.3rem;
	background: #7B7C7F;
	border:1px solid transparent;
    border-radius:0.25rem;
	font-size:0.75rem;
    color:#FFFFFF;	
}

.order-validation-error{
  color:#9FCC47;
  font-size: 1rem;
}
.overview-boxes .form-control::placeholder {
    opacity: 0.5 !important;
    color: #fff !important;
}
.overview-boxes .form-select::placeholder {
    opacity: 0.5 !important;
    color: #fff !important;
}
.overview-boxes .form-control::-ms-input-placeholder {
    color: #fff !important;
}
.overview-boxes .form-select::-ms-input-placeholder {
    color: #fff !important;
}
.overview-boxes .form-check-input + label::before{
    content:'';
    width: 1rem;
    height: 1rem;
    position: absolute;
    top:0px;
    left: 0px;
    background-color:#9FCC47;
    top:3px;
    border-radius: 2px;
}
.overview-boxes .form-check-input::checked + label::before{
   background-image: url(../images/tick-square.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}

.form-button{
  top: 5px;
}

/* account settings page */
.image-upload{
  width: 182px;
  height: 182px;
}

#file_input_button{
  top: 45px;
  right: 25px;
  cursor: pointer;
}

.profile-header.card-header{
  position:relative;
}

.profile-header.card-header:before{
  content:'';
  position:absolute;
  width:100%;
  height:50%;
  left:0px;
  top:0px;
  background:#9FCC47;
  z-index:1;
  border-radius:calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0
}

.profile-header.card-header img{
  position:relative;
  z-index:10;
  min-width:100%;

}

#open-orders-table tr th {
  color: #fff;
  font-size: 1rem;
}
#vmi-page-table tr th {
  color: #fff;
  font-size: 1rem;
}
#open-orders-table tr td {
  color: #fff;
}
#vmi-page-table tr td {
  color: #fff;
}
#open-orders-table tr td.order-action a {
  color: #F96969;
}
#vmi-page-table tr td.order-action a {
  color: #F96969;
}
#open-orders-table tr td.order-status {
  color: #9FCC47;
}
#vmi-page-table tr td.order-status {
  color: #9FCC47;
}
#open-orders-table_filter{
  position: relative;
  /* background-color: #7B7C7F;
  border-radius: 15px; */
}
#vmi-page-table_filter{
  position: relative;
  /* background-color: #7B7C7F;
  border-radius: 15px; */
}
#open-orders-table_filter img{
  position: absolute;
  right:15px;
  top: 12px;
}
#vmi-page-table_filter img{
  position: absolute;
  right:15px;
  top: 12px;
}

#open-orders-table_filter label{
  color: #fff;
  display: none;
  visibility: hidden;
}
#vmi-page-table_filter label{
  color: #fff;
  display: none;
  visibility: hidden;
}

#open-orders-table-search{
  background-color: #7B7C7F;
  position: relative;
  border: none;
  outline: none;
  border-radius: 15px;
  padding:0px 60px 0 10px;
}
#vmi-page-table-search{
  background-color: #7B7C7F;
  position: relative;
  border: none;
  outline: none;
  border-radius: 15px;
  padding:0px 60px 0 10px;
}


#open-orders-table-search::placeholder{
  color: #fff;
}
#vmi-page-table-search::placeholder{
  color: #fff;
}
/* #open-orders-table-search:focus{
  outline: none;
  border: none;
}
#open-orders-table-search:active{
  outline: none;
  border: none;
} */

#open-orders-table tbody tr{
  background-color: #424448;
}
#vmi-page-table tbody tr{
  background-color: #424448;
}

#open-orders-table tr td .order-id{
  background-color: #A8CB5C;
  color: #000;
  padding: 5px 12px;
  border-radius: 12px;
}
#vmi-page-table tr td .order-id{
  background-color: #A8CB5C;
  color: #000;
  padding: 5px 12px;
  border-radius: 12px;
}

.order_item_quantity_input{
  background: #7B7C7F;
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
  outline: none;
}

.order-item-cancel{
  font-size: 20px;
  margin-right:5px;
}
.order-item-save{
  font-size: 16px;
}


.dropdown-large {
  position: relative;
}
.dropdown-large .dropdown-menu {
  width: 20rem;
  border: 0;
  padding: 0rem 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .15);
  -webkit-animation: .6s cubic-bezier(.25, .8, .25, 1) 0s /*normal forwards 1 animdropdown*/;
  animation: .6s cubic-bezier(.25, .8, .25, 1) 0s /*normal forwards 1 animdropdown*/;
}
.dropdown-large .dropdown-menu::after {
  content: '';
  width: 0.75rem;
  height: 0.75rem;
  background: #ffffff;
  position: absolute;
  top: -6px;
  right: 1rem;
  transform: rotate(45deg);
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.dropdown-large .dropdown-menu::after {
  content: '';
  width: 0.75rem;
  height: 0.75rem;;
  background: #ffff;
  position: absolute;
  top: -6px;
  right: 1rem;
  transform: rotate(45deg);
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.dropdown-large .msg-header {
  padding: 0.8rem 1rem;
  border-bottom: 1px solid #ededed;
  background-clip: border-box;
  background: #ffffff;
  text-align: left;
  display: flex;
  align-items: center;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}
.dropdown-large .msg-header .msg-header-title {
  font-size: 1rem;
  color: #1c1b1b;
  margin-bottom: 0;
  font-weight: 500;
}
.dropdown-large .msg-header .msg-header-clear {
  font-size: 0.75rem;
  color: #585858;
  margin-bottom: 0;
}
.dropdown-large .msg-footer {
  padding: 0.8rem 1rem;
  color: #1c1b1b;
  border-top: 1px solid #ededed;
  background-clip: border-box;
  background: transparent;
  font-size: 0.865rem;
  font-weight: 500;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}
.dropdown-large .user-online {
  position: relative;
}
.dropdown-large .msg-name {
  font-size: 0.865rem;
  margin-bottom: 0;
}
.dropdown-large .msg-info {
  font-size: 0.865rem;;
  margin-bottom: 0;
}
.dropdown-large .msg-avatar {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.dropdown-large .msg-time {
  font-size: 0.75rem;
  margin-bottom: 0;
  color: #919191;
}
.dropdown-large .user-online:after {
  content: '';
  position: absolute;
  bottom: 1px;
  right: 1rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #fff;
  background: #16e15e;
}
.dropdown-large .dropdown-menu .dropdown-item {
  padding: .50rem 1.3rem;
  border-bottom: 1px solid #ededed;
}
.header-message-list {
  position: relative;
  height: 20rem;
}
.header-notifications-list {
  position: relative;
  height: 20rem;
  overflow: auto;
}
.dropdown-large .notify {
  width: 2.75rem;
  height: 2.75rem;
  line-height: 2.75rem;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 50%;
  background-color: #f1f1f1;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dropdown-large .dropdown-toggle::after{
  display: none;
}

.search-bar {
  display: none;
}
.full-search-bar {
  display: flex;
  align-items: center;
  width: auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 999;
  background: #ffffff;
  border-bottom: 1px solid rgb(228 228 228 / 0%);
  background-clip: border-box;
  height: 61px;
  padding: 0rem 1.4rem;
  width: 100%;
}
.search-control {
  background-color: #fff;
  border: 1px solid #f2efef00;
  
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;  
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  padding-left: 2.5rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.search-show {
  font-size: 18px;
  left: 15px;
}
.search-close {
  font-size: 24px;
  right: 10px;
  cursor: pointer;
}
@-webkit-keyframes animdropdown {
     from {
         -webkit-transform: translate3d(0, 6px, 0);
         transform: translate3d(0, 6px, 0);
         opacity: 0 
    }
     to {
         -webkit-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
         opacity: 1 
    }
}
 @keyframes animdropdown {
     from {
         -webkit-transform: translate3d(0, 6px, 0);
         transform: translate3d(0, 6px, 0);
         opacity: 0 
    }
     to {
         -webkit-transform: translate3d(0, 0, 0);
         transform: translate3d(0, 0, 0);
         opacity: 1 
    }
}


@media screen and (min-width: 1025px)
  .wrapper.toggled:not(.sidebar-hovered) .sidebar-wrapper {
      width: 70px;
  }
}

/* search box */
.searchbox{
  position: relative;
  display: flex;
  /* background-color: #006d77; */
  justify-content: space-between;
  overflow: hidden;
  transition: 0.5s;
  width: 60px;
  height: 60px;
  color: #fff;
}
.searchbox.active{
  min-width: 300px;
  transition: 0.5s;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: ease-in-out;
}
.searchbox .search{
  position: relative;
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.searchbox .close{
  position: relative;
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
  color: black;
}
.searchbox .searchinput{
  position: absolute;
  line-height: 60px;
  left: 60px;
  height: 100%;
  width: calc(100% - 120px);
}
.searchbox .searchinput input{
  position: absolute;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
}

.sidebar.active1{
 width: 4.2rem;
}

.sidebar.active1 ~ .home-section{
    width: calc(100% - 67.2px);
    left: 4.2rem;
}
.sidebar.active1 ~ .home-section nav{
    width: calc(100% - 67.2px);
    left: 4.2rem;
}

/* analysis page tab work start */
.switch1 {
  position: relative;
  display: inline-block;
  width:300px;
  height: 34px;
 }
 
 .switch1 #tab_input {
  display: none;
 }
 
 .slider1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:#fff;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius: 34px;
  border: 1px solid #3C3C3C;
 }
 
 .slider1:before {
  position: absolute;
  content: "Table View";
  height: 34px;
  width: 150px;
  left: 0px;
  bottom: 0px;
  background-color: #3C3C3C;
  -webkit-transition: .2s;
  transition: .2s;
  border-radius:34px;
  color:#fff;
  /* text-align:center; */
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 #tab_input:checked + .slider1 {
  background-color: #fff;
 }
 
 #tab_input:focus + .slider1 {
  box-shadow: 0 0 1px #fff;
 }
 
 #tab_input:checked + .slider1:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(150px);
  content:'Graph view'
 }
 
 /*------ ADDED CSS ---------*/
 .slider1:after {
  content: 'Graph view';
  color: #000;
  position: absolute;
  left: 60px;
  font-size: 10px;
  /* max-width: 75px; */
  font-family: Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
 }
 
 #tab_input:checked + .slider1:after {
  content: 'Table view';
  left: -60px;
 }
/* analysis page tab work end */

/* change order page */
.order_item_quantity_input.notactive{
  appearance: none;
  background:none;
  border: none;
}

/* select box customization */
/* #item-select-box{
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('../images/svg/select_arrow_down.svg');
  background-repeat: no-repeat;
  background-position: right center;
  padding: 4px 10px;
  padding-right: 20px;
  width: 150px;
  border-radius: 7px;
  background-color: #7B7C7F;
  color: #fff;
} */
/* .analysis_select::-ms-expand {
  display: none;
} */

.analysis_select {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* background-image: url('../images/svg/select_arrow_down.svg'); */
  background-color: #7B7C7F;
  color: #fff;
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
  width: 162px;
  height: 30px;
  padding-left: 10px;
}
.analysis_select::after{
  content: '';
  position: absolute;
  top: 0;
  left:0;
  right: 0;
  bottom: 0;
  background-image: url('../images/svg/select_arrow_down.svg');
  width: 162px;
  height: 30px;
  /* transition: 0.2s; */
}
.down-arrow{
  position: absolute;
  background: url('../images/svg/select_arrow_down.svg');
  width: 20px;
  height: 20px;
  top: 12px;
  right: 0;
  z-index: 999;
  background-repeat: no-repeat;
  /* transition: 0.2s; */
}

.analysis_select:focus ~ .down-arrow{
  transform: rotate(180deg) translateY(13px) translateX(10px);
  /* transition: 0.4s; */
}
.analysis_select:active ~ .down-arrow{
  transform: rotate(180deg) translateY(13px) translateX(10px);
  /* transition: 0.4s; */
}
.down-arrow1{
  position: absolute;
  background: url('../images/svg/select_arrow_down.svg');
  width: 20px;
  height: 20px;
  top: 12px;
  right: 0;
  z-index: 999;
  background-repeat: no-repeat;
}


/* datatable design work start */
#help-page-table{
  color: #fff;
}

#help-page-table_filter label{
  display: none;
}
#help-page-table-search{
  max-width: 266px;
  height: 30px;
  padding-left: 17px;
  background-color: #7B7C7F;
  position: relative;
  border: none;
  outline: none;
  border-radius: 50px;
  padding:0px 60px 0 10px;
  color: #fff;
}

#help-page-table-search::placeholder{
  color: #fff;
}
#help-page-table-search:active{
  border: none;
  outline: none;
}
#help-page-table-search:focus{
  border: none;
  outline: none;
}

#help-page-table_filter{
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
}
#help-page-table_filter img{
  position: absolute;
  left: 200px;
  top: 8px;
}

/* filter count */
#counter_length_filter{
  position: relative;
}
#counter_length_select{
  height: 30px;
  width: 162px ;
  padding-left: 27px;
  background-color: #7B7C7F;
  color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 50px;
  border: none;
  font-size: 12px;
  font-weight: 500;
}

#counter_length_select:focus{
  border: none;
}

#counter_length_select:active{
  border: none;
}
.counter_down-arrow{
  position: absolute;
  background: url('../images/svg/select_arrow_down.svg');
  width: 20px;
  height: 20px;
  top: 12px;
  right: 9px;
  z-index: 999;
  background-repeat: no-repeat;
}

.table-responsive nav{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.table-responsive nav div:nth-child(1){
  display: flex;
  justify-content: space-between;
}
.table-responsive nav div:nth-child(1) span{
  /* display: flex;
  justify-content: space-between; */
  position: relative;
  display: inline-flex;
  align-items: center;
  /* padding: ; */
}
.table-responsive nav div:nth-child(1) a{
  position: relative;
  display: inline-flex;
  align-items: center;
  color: gray;
  background: #fff;
  border: gray;
  /*  */
}
/* datatable design work end */

/* pagination component */
.pagination_text{
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.pagination_button{
  padding: 0 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination_button a{
  height: 19px;
  width: 19px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: #fff;
}
.pagination_button a.pagination_active_button{
  background-color: #9FCC47;
  color: #000;
  text-align: center;
}

@media (max-width: 1240px) {
  .sidebar{
    width: 60px;
  }
  .sidebar.active{
    width: 220px;
  }
  .home-section{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section{
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }
  .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav{
    width: calc(100% - 220px);
    left: 220px;
  }
}
@media (max-width: 1150px) {
  .home-content .sales-boxes{
    flex-direction: column;
  }
  .home-content .sales-boxes .box{
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .home-content .sales-boxes .top-sales{
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box{
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i{
    display: none;
  }
  .home-section nav .profile-details{
    height: 50px;
    min-width: 40px;
  }
  .home-content .sales-boxes .sales-details{
    width: 560px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details{
    display: none;
  }
}
  @media (max-width: 400px) {
  .sidebar{
    width: 0;
  }
  .sidebar.active{
    width: 60px;
  }
  .home-section{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section{
    left: 60px;
    width: calc(100% - 60px);
  }
  .home-section nav{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section nav{
    left: 60px;
    width: calc(100% - 60px);
  }
}
